label {
    font-size:16px;
    font-weight:bold;
   };
   
   strong {
   color: #2493df;
   };
   
   footer {
       color: #595959;
       font-size:14px;
   };
   
   header{
       font-size:20px;
   }